@page "/"

<PageTitle>Index</PageTitle>

<div id="banner" class="position-relative">
    <div id="bannerCarousel" class="carousel slide bg-dark" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/carousel/1.jpg" class="d-block w-100" alt="欢迎来到 Curve">
                <div class="carousel-caption d-none d-md-block">
                    <h5>欢迎!</h5>
                    <p>一个纯净的, 原汁原味的, 犹如第一次打开 MC 般的生存服务器</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/carousel/HC.png" class="d-block w-100" alt="你好 Curve">
                <div class="carousel-caption d-none d-md-block">
                    <h5>你好 Curve</h5>
                    <p>这里的一切, 都由玩家一砖一瓦来构建! 你可以在这里任意发挥你的创意!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/carousel/CC.png" class="d-block w-100" alt="Cube city 鸟瞰图">
                <div class="carousel-caption d-none d-md-block">
                    <h5>CubeCity</h5>
                    <p>幸运的遇见 共同规划</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/carousel/MCITY1.png" class="d-block w-100" alt="主城风光">
                <div class="carousel-caption d-none d-md-block">
                    <h5>主城</h5>
                    <p>来到万物初始之地, 一切正相识</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<article class="container">
    <div class="section">
        <div style="color: #505050;">
            <h1>我们, 期待着与你相遇</h1>
        </div>
    </div>

    <div class="section">
        <div class="row">
            <div class="col-md-4">
                <h2>纯粹体验</h2>
                <p>
                    <h5>
                        无模组, 无插件, 我们玩的可能不是玩法, 但它一定是最纯粹的艺术. 在有限条件下, 发挥你的一切想象力, 这里给你想要的一切
                    </h5>
                </p>
            </div>
            <div class="col-md-4">
                <h2>自由发挥</h2>
                <p>
                    <h5>
                        一张完美的画布, 我们不提供任何影响, 一切都是最原生的, 所有的所有, 都将在生存模式下由你与我一个个方块搭建而成
                    </h5>
                </p>
            </div>
            <div class="col-md-4">
                <h2>协同合作</h2>
                <p>
                    <h5>
                        基岩版 Minecraft 跨 PC, Xbox, Android, iOS 平台, 无论你使用什么设备, 都能够和朋友们畅通无阻的游玩
                    </h5>
                </p>
            </div>
        </div>
    </div>

    <div class="section-lg">
        <h1 class="title-gap">我们渺小, 但是也用着自己的双手努力着</h1>
    </div>

    <div class="section-lg">
        <div class="row section">
            <div class="col-md-4">
                <div class="px-5">
                    <img class="img-fluid rounded" src="/img/buildings/CCTOWN.png" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="pe-5">
                    <h4>On sighed</h4>
                    <p>Who he and and native where fulness sight and vulgar aught for and did harolds alas of light minstrels breast worse near a happy and night his sad disappointed know third but have festal a he these shades passed charms</p>
                </div>
            </div>
        </div>
        <div class="row section">
            <div class="col-md-8">
                <div class="pe-5">
                    <h4>On sighed</h4>
                    <p>Who he and and native where fulness sight and vulgar aught for and did harolds alas of light minstrels breast worse near a happy and night his sad disappointed know third but have festal a he these shades passed charms</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="px-5">
                    <img class="img-fluid rounded" src="/img/buildings/NTH.png" />
                </div>
            </div>
        </div>
        <div class="row section">
            <div class="col-md-4">
                <div class="px-5">
                    <img class="img-fluid rounded" src="/img/buildings/NTHCENTER.png" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="pe-5">
                    <h4>On sighed</h4>
                    <p>Who he and and native where fulness sight and vulgar aught for and did harolds alas of light minstrels breast worse near a happy and night his sad disappointed know third but have festal a he these shades passed charms</p>
                </div>
            </div>
        </div>
        <div class="row section">
            <div class="col-md-8">
                <div class="pe-5">
                    <h4>On sighed</h4>
                    <p>Who he and and native where fulness sight and vulgar aught for and did harolds alas of light minstrels breast worse near a happy and night his sad disappointed know third but have festal a he these shades passed charms</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="px-5">
                    <img class="img-fluid rounded" src="/img/buildings/THEEND.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="section-lg">
        <h1 class="title-gap">每一个人, 都用着他的方式爱着 Curve</h1>
    </div>

    <div class="section-lg">
        <div id="curveMembersCarousel" class="carousel">
            <div class="carousel-inner px-5">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col">
                            <img class="avatar" src="/img/avatars/slimenull.jpg" />
                            <div class="text">
                                <a>
                                    <strong>诺尔</strong>
                                    <span class="desc">Curve 的憨憨腐竹</span>
                                </a>
                                <div>
                                    刚开始搞服务器的时候, 其实也没多想, 就是想和朋友一起玩 MC 吧(*/ω＼*), 然后开服, 朋友也慢慢多了起来了ヾ(≧▽≦*)o
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <img class="avatar" src="/img/avatars/cimimoly.jpg" />
                            <div class="text">
                                <a>
                                    <strong>末末</strong>
                                    <span class="desc">Curve 的管理员及杰出贡献者</span>
                                </a>
                                <div>
                                    刚开始只是受邀随缘来的啦~ 感觉这里真的充满了机遇哇(p≧w≦q) 归属感一点点上来后,感觉自己就是这的一部分QwQ, 奔赴会有结果的! Curve 一定会越来越好~
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <img class="avatar" src="/img/avatars/flyplanet.jpg" />
                            <div class="text">
                                <a>
                                    <strong>飞飞</strong>
                                    <span class="desc">Curve 的管理员及杰出贡献者</span>
                                </a>
                                <div>
                                    只是希望 Curve 永远在那，不变，恒定. 想看看时，一抬头，它就在那. 山河依旧, 屋里仍然坐着可爱的人
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#curveMembersCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#curveMembersCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</article>

<style>
    #mainheader {
        background-color: #252a33F0 !important;
        box-shadow: 0 0 10px 5px #1e1e1ee0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    #bannerCarousel {
        height: 75vh;
    }

        #bannerCarousel img {
            height: 75vh;
            object-fit: cover;
        }

        #bannerCarousel .carousel-caption {
            border-radius: 5px;
        }

            #bannerCarousel .carousel-caption:hover {
                background-color: #1e1e1e80;
                transition: .2s;
            }

    #curveMembersCarousel .avatar {
        float: left;
        width: 4em;
        height: 4em;
        object-fit: cover;
        border-radius: 2em;
        overflow: hidden;
        box-shadow: 1px 1px 3px gray;
    }

    #curveMembersCarousel .text {
        padding-left: 5em;
    }
    #curveMembersCarousel .text .desc {
        font-size: 0.7em;
        color: gray;
    }
    #curveMembersCarousel .carousel-control-prev,
    #curveMembersCarousel .carousel-control-next {
        width: 1.2rem;
    }
    #curveMembersCarousel .carousel-control-prev .carousel-control-prev-icon,
    #curveMembersCarousel .carousel-control-next .carousel-control-next-icon {
        background-color: #1e1e1ea0;
    }
</style>