/*
这个文件是描述top栏下面的封面

坚守初心下面那个文字是可以点击的，点击之后跳到加入我们的那个地方
*/
.content {
    position: relative;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("https://pic1.afdiancdn.com/user/6e896a724cde11ea8f4e52540025c377/common/1e0efb752d08f252d347536000ecc478_w1920_h1080_s2232.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.content #heart {
    z-index: 1;
    font-size: 8vw;
    color: aquamarine;
    /*坚守初心在这*/

}

/*下面三个都是”我们一直在这“的样式*/
.content #contact {
    z-index: 1;
    font-size: 1.5vw;
    color: azure;
    text-decoration: none;
}

.content #contact:hover {
    color: aquamarine;
}

.content #contact::after {
    /*这边是文本的下划线*/
    content: "";
    display: block;
    background: linear-gradient(to right, #3b96e0, rgb(229, 114, 240));
    width: 100%;
    height: 2px;
}
.content .background-mask{
    display: block;
    height: inherit;
    width: 100%;
    height:100%;
    position: absolute;
    background-color: rgba(19, 19, 19, 0.6);
}