/*加入我们*/
.join{
    overflow: auto;
    background-color: rgb(241, 241, 241);
}
.join #title{
    position: relative;
    color:gold;

    font-size: 8vw;
}
.join #routine{
    position: relative;
    float: left;
    display: block;
}
.join #contacts{
    position: relative;
    float: left;
}
